:root.dark-theme {
    /* Background colors */
    --bg-primary: #202020; /* White for main content */
    --bg-secondary: #2e2e2e; /* Light gray for sections */
    --bg-muted: #f1f3f5; /* Muted background for less important areas */
    --bg-dark: #191919; /* Dark background, e.g., for headers or footers */

    /* Text colors */
    --text-primary: #f8f9fa; /* Default text color */
    --text-secondary: #cccccc; /* Secondary text color, less emphasis */
    --text-light: #ffffff; /* Light text, for dark backgrounds */
    --text-muted: #adb5bd; /* Muted text color for less important info */
}
