.content {
    color: var(--bg-primary);
    padding-top: 40vh;
    position: relative;
    text-align: center;
    z-index: 1;
}

.page-content {
    background-color: var(--bg-primary);
    padding-top: $padding-header;
}

.section-container {
    margin-bottom: 30px;
}
